.additional {
  overflow: hidden;
}

.additional__table {
  font-family: "Arial", sans-serif;
  margin-bottom: 13px;
  width: 100%;
  border-collapse: collapse;
}

.additional__item {
  padding-top: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid #cdcdcd;
  &:first-child {
  border-top: 1px solid #cdcdcd;
  }
}

.additional__title {
  position: relative;
  display: inline-block;
  margin-top: 28px;
  padding-bottom: 34px;
  padding-right: 20px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111;
  background-color: #fff;
  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 14px;
    left: 0;
    width: 100vw;
    height: 3px;
    z-index: -1;
    background-color: #68b738;
  }
}

.additional__description {
  margin: 0;
  margin-bottom: 13px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111;
}

.additional__info {
  font-size: 14px;
  line-height: 14px;
  color: #444;
}

.additional__info--price {
  text-align: right;
}

.additional__promo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 39px;
  margin-bottom: 34px;
  padding-top: 65px;
  padding-bottom: 26px;
  background-color: #68b738;
  background-image: url("../../img/gift-photo-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.additional__text {
  font-family: "Arial", sans-serif;
  margin-top: 62px;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
}

@media (min-width: 768px) {
  .additional__title {
    display: inline-block;
    margin-bottom: 46px;
    padding-left: 20px;
    margin-left: 17px;
    position: relative;
    font-size: 36px;
    line-height: 36px;
    background-color: #fff;
    border: none;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      left: 0;
      width: 100vw;
      height: 3px;
      z-index: -1;
      background-color: #68b738;
    }
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      right: -17px;
      width: 100vw;
      height: 3px;
      z-index: -1;
      background-color: #68b738;
    }
  }
  .additional__item {
    padding-top: 25px;
    padding-bottom: 27px;
    padding-left: 39px;
    padding-right: 35px;
    &:first-child {
      border-top: 1px solid #cdcdcd;
    }
  }
  .additional__description {
    font-size: 20px;
    line-height: 20px;
  }
  .additional__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }
  .additional__table {
    width: auto;
  }
  .additional__info {
    padding-top: 4px;
    padding-right: 1px;
    font-size: 16px;
    line-height: 20px;
    width: 150px;
    text-align: right;
  }
  .additional__info--price {
    width: 95px;
  }
  .additional__promo {
    margin-top: 69px;
    margin-bottom: 76px;
    padding-top: 57px;
    padding-bottom: 68px;
    padding-left: 91px;
    padding-right: 124px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-image: url("../../img/catalog/gift-photo-tablet.jpg");
  }
  .additional__text {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15px;
    text-align: left;
  }
}

@media (min-width: 1300px) {
  .additional {
    margin-bottom: 50px;
  }
  .additional__title {
    padding-left: 20px;
    margin-left: -20px;
    
  }
  .additional__inner {
    display: flex;
    justify-content: space-between;
  }
  .additional__description {
    margin: 0;
  }
  .additional__table {
    margin: 0;
    margin-left: auto;
    width: 285px;
  }
  .additional__wrapper {
    width: 610px;
    margin: 0;
  }
  .additional__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
    width: 895px;
  }
  .additional__promo {
    flex-direction: column;
    width: 245px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    background-image: url("../../img/gift-photo-mobile.jpg");
  }
  .additional__text {
    text-align: center;
  }
  .additional__info {
    width: 235px;
    text-align: left;
  }
  .additional__info--price {
    width: 50px;
  }
  .additional__btn {
    width: 245px;
  }
}