.map__image {
  width: 100%;
  height: 362px;
}
.map--darkness {
  background-color: #f2f2f2;
}

.map iframe {
  border: none;
}

@media (max-width: 767px) {
  .map {
    .container--full {
      div {
        height: 360px;
      }
    }
  }
}

@media (min-width: 1300px) {
  .map {
    width: 100%;
    position: relative;
  }
  .map__image {
    width: 100%;
  }
}
