.slider--none {
  display: none;
}

.slider {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.slider__inner {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider__menu {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 5px;
  width: 84px;
  height: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
  background-color: #fff;
}

.progress-bar__item {
  display: block;
  width: 35px;
  height: 6px;
  background-color: #68b738;
  border-radius: 5px;
}

.slider__button {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: #111;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.slider--before {
  margin-left: -20px;
}

@media (min-width: 768px) {
  .slider {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 462px;
    margin-top: 225px;
    text-align: center;
    background-color: #f2f2f2;
    padding-bottom: 70px;
  }
  .slider__button {
    padding-bottom: 5px;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted #b8b8b8;
    &:hover {
      border-bottom: 1px solid #b8b8b8;
    }
    &:active {
      border-color: transparent;
    }
  }
  .progress-bar {
    margin: 0 23px;
    width: 430px;
    height: 6px;
    border: none;
    background-color: #dcdcdc;
  }
  .progress-bar__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    width: 33px;
    height: 33px;

    border-radius: 50%;
    border: 1px solid #dcdcdc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

    background-color: #fff;

    cursor: pointer;
    &::after {
      content: "";
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #68b738;
    }
    &:hover {
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
    }
    &:active {
      box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
      border: 2px solid #68b738;
    }
  }
  .slider--before {
    margin-left: -40px;
  }
  .slider__menu {
    margin-top: 16px;
  }
}

@media (min-width: 1300px) {
  .slider {
    margin-top: 67px;
    padding: 0;
    max-width: 610px;
    flex-shrink: 1;
    background-color: transparent;
  }
}
